
{%extends "base.html"%}

{%block title%}Stats!{%endblock%}


{% block extrastyle %}
{% endblock %}

{%block body%}

{% if color is undefined %}
    {% set color = -1 %}
{% endif %}

<table class="table table-bordered, table-hover">
    <thead>
    <tr>
        {% for header in headers %}
            <th class="">{{header}}</th>
        {% endfor %}
        </tr>
    </thead>
{% for data_row in data_list %}
    {% if color < 0 %}
        <tr>
    {% elif data_row[color] < 25 %}
        <tr class="danger">
    {% elif data_row[color] < 50 %}
        <tr class="warning">
    {% elif data_row[color] > 75 %}
        <tr class="success">
    {% else %}
         <tr>
    {% endif %}
    {% for data in data_row %}
        <td>{{ data }}</td>
    {% endfor %}
    </tr>
{% endfor %}
{%endblock%}
