{%extends "base.html"%}

{%block title%}Clash or Next!{%endblock%}


{% block extrastyle %}
{% endblock %}

{%block body%}

<div class="row show-grid">
    <div class="span0 pagination text-center center-block"><img width="90%" src="data:image/png;base64,{{ image }}"></div>
</div>
<div class="row show-grid">
    <div class="text-center text-primary">{{ score }}% Nexted!</div>
</div>
{% if not user %}
<div class="row show-grid">
    <div class="text-center text-primary">Please bookmark this page to check up on your base!</div>
</div>
<div class="row show-grid">
    <div class="text-center text-primary">(or sign in and upload again)</div>
</div>
{% endif %}

{%endblock%}