{%extends "base.html"%}

{%block title%}Upload New{%endblock%}


{% block extrastyle %}
{% endblock %}

{%block body%}


<form action="/upload" enctype="multipart/form-data" method="post">
    <div class="form">
        <fieldset>
            <legend>Upload A New Base</legend>
            <label>Town Hall Level</label>
            <label>
                <select name="level">
                    <option>Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </label>
            <span class="help-block">Select your town hall level.</span>
            <label>Upload Base Image</label>
            <input type="file" name="img" accept="image/*" >
            <span class="help-block">Select a screenshot of your base. (Max 2MB)</span>
            <input type="submit" value="Upload">
            {% if no_image %}
                <p class="text-warning">Please select an image!</p>
            {% elif too_large %}
                <p class="text-warning">Image too large! (Must be < 2MB)</p>
            {% elif no_level %}
                <p class="text-warning">Please select a town hall level!</p>
            {% endif %}
        </fieldset>
    </div>
</form>

{%endblock%}